# Secrets Template
# ----------------
# This file should be encrypted with SOPS before committing to git.
#
# Generate password hash with:
#   mkpasswd -m sha-512
#
# Replace <ADMIN_USER> with your adminUser value from options.nix

<ADMIN_USER>:
    password_hash: "<REPLACE_WITH_HASHED_PASSWORD>"
nextcloud:
    admin_password: "<REPLACE_WITH_NEXTCLOUD_PASSWORD>"
